.ui-header.search-bar {
    color: white;
    height: 30px;
    min-width: 300px;

}
.ui-header.search-button {
    padding-left: 20px;
}

.ui-header a {
    color: white;
}

.ui-header a:hover {
    background-color: #515151;
    color: #ffffff;
}

.ui-header a.active {
    color: white;
}

.search-bar {
    display: inline-block;
    height: 30px;
    margin-left: 100px;
    margin-right: 5px;
    min-width: 200px;
    max-width: 500px;
    padding-left: 100px;
    
}

.search-button {
    margin-right: 20px;
}

.type-button {
    margin-right: 10px;
}

.home {
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
}