body {
  background-color: rgb(46, 46, 46);
  font-family: Calibri, sans-serif;
  color: white;
}

.actionbar {
  background-color: rgb(36, 36, 36);
  width: 100%;
  position: relative;
  height: 40px;
}
.actionbarelement {
  position: absolute;
  right: 50px;
}
.mainmovie{
  width: 1920px;
  position: relative;
}
.mainmovieimg{
  position: absolute;
  left: 40px;
  top: 100px;
}
.mainmovietext{
  position: absolute;
  right: 200px;
  top: 100px;
}
.mainmovierating{
  position: absolute;
  right: 0px;
  top: 60px;
}
.largeui {
  font-size: 3em;
}

.smallui {
  font-size: 30px;
  width: 1000px;
}

.titleui {
  font-size: 80px;
}