body {
  background-color: rgb(46, 46, 46);
  font-family: Calibri, sans-serif;
  color: white;
}

.actionbar {
  background-color: rgb(36, 36, 36);
  width: 1920px;
  position: relative;
  height: 40px;
}
.actionbarelement {
  position: absolute;
  right: 0px;
}
.largeui {
  font-size: 15em;
}

.smallui {
  font-size: 12em;
}

.titleui {
  font-size: 24em;
}